{% extends "layout.html" %}
{% block title %}退出{% endblock %}
{% block content %}
<h1 class="title">{{result['result']['title']}}</h1>

<div class="field">
    <label for="姓名" class="label">姓名:{{result['userModel']['display_name']}}</label>
  
  </div>
  
  <div class="field">
    <label for="手機" class="label">手機:{{result['userModel']['phone_number']}}</label>
  
  </div>
  
  <div class="field">
    <label for="email" class="label">email: {{result['userModel']['email']}}</label>
  
</div>
{% endblock %}