{% extends "layout.html" %}
{% block title %}退出{% endblock %}
{% block content %}
<h1 class="title">{{result['result']['title']}}</h1>

<div class="field">
    <div class="control">
        <h3>無相關的email的資料</h3>
        <label for="無相關資料" class="label"></label>
    </div>
</div>
{% endblock %}