<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人員列表</title>
</head>

<body>
    {% extends "layout.html" %}
    {% block title %}列表{% endblock %}
    {% block content %}
    <h1 class="title">{{result['result']['title']}}</h1>


    <div id="umsList">
        <table id="tableSort">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>手機</th>
                    <th>email</th>
                    <th>角色</th>
                    <th>lineId</th>
                </tr>
            </thead>
            <tbody>
                {% for uid in result['uid_list'] %}
                <tr>
                    <td>{{result['userModel'][uid]['display_name']}}</td>
                    <td>{{result['userModel'][uid]['phone_number']}}</td>
                    <td>{{result['userModel'][uid]['email']}}</td>
                    <td>{{result['userModel'][uid]['role']}}</td>
                    <td>{{result['userModel'][uid]['lineId']}}</td>
                </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>
    <script type="text/javascript">
    	new Tablesort(document.getElementById('tableSort'), {
		  descending: true
		});

		var recapFilters = {
			sort_select: true,
			btn: true,
			btn_text: "Search",
			loader: true,
			col_3: "select", 
			on_change: true,
			display_all_text: " Show all ",
			rows_counter: true,
			btn_reset: true,
			alternate_rows: true,
			btn_reset_text: "Clear",
		}
		setFilterGrid("tableSort",recapFilters);
    </script>
    {% endblock %}
</body>

</html>