{% extends "layout.html" %}
{% block title %}查詢結果{% endblock %}
{% block content %}
<h1 class="title">{{result['result']['title']}}</h1>

<!-- <div class="field">
  <label for="title" class="label">{{result['result']['title']}}</label>

</div> -->

<div class="field">
  <label for="description" class="label">{{result['result']['description']}}</label>

</div>

</div>
{% endblock %}