{% extends "layout.html" %}
{% block title %}註冊{% endblock %}
{% block content %}
    <h1 class="title">修改</h1>

    <form action="" method="post" name="updateUser">
      <div class="field">
        <label for="姓名" class="label">姓名</label>
        <div class="control">
          <input type="text" name="name" class="input" value="{{result['userModel']['name']}}" required="required"/>
        </div>
      </div>

      <div class="field">
        <label for="信箱" class="label">信箱:{{result['userModel']['email']}}</label>
        <input type="hidden" name="email" class="input" value="{{result['userModel']['email']}}" required="required" readonly="" />
      </div>

      <div class="field">
        <label for="手機" class="label">手機</label>
        <div class="control">
          <input type="text" name="phone" class="input" value="{{result['userModel']['phone']}}" required="required"/>
        </div>
      </div>
      <div>身份</div>
      <select style="width:100px; height:30px;   font-size:15px;" name="role">
        <optgroup label="角色選擇">
          <option name="role" selected="selected" value="customer">customer</option>
          <option name="role" value="manager">manager</option>
          <option name="role" value="staff">staff</option>
        </optgroup>
      </select> 
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">修改</button>
        </div>
      </div>
    </form>
{% endblock %}