html {
  height: 100%;
}

body {
  font-family: sans-serif;
  
  height: 100%;

}

h1 {
  color: black);


}

#container {
  text-align: center;

}

#qr-canvas {
  margin: auto;
  width: calc(100%);
  max-width: 100%;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 30em;
  padding: 15px;
  margin: 15px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}