{% extends "layout.html" %}
{% block title %}商店註冊{% endblock %}
{% block content %}
<h1 class="title">{{result['result']['title']}}</h1>

<div class="field">
  <label for="商店" class="label">商店:{{result['siteModel']['name']}}</label>

</div>

<div class="field">
  <label for="縣市" class="label">縣市:{{result['siteModel']['address']['city']}}</label>

</div>

<div class="field">
  <label for="行政區" class="label">行政區:{{result['siteModel']['address']['district']}}</label>

</div>

<div class="field">
  <label for="地址" class="label">地址:{{result['siteModel']['address']['detail']}}</label>

</div>
<div class="field">
  <label for="lineId" class="label">lineId: {{result['siteModel']['lineId']}}</label>

</div>
{% endblock %}