<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>

<body>

  <script>
    liff.init({
        liffId: "{{liffId}}" // config parameter
    })
    .then(() => {
        // Use liff's api
        //window.location.replace("https://line.me/{{liffId}}/path");
        liff.getProfile()
        .then(profile => {
            
            const lineId = profile.userId;
            //document.getElementById("lineId").textContent = lineId;
            document.getElementById("lineId").value = lineId;
            //alert(lineId);
        })
        .catch((err) => {
            console.log('error', err);
        });
    })
    .catch((err) => {
        // Error happens during initialization
        console.log(err.code, err.message);
    });
  </script>
  {% extends "layout.html" %}
  {% block title %}註冊商店{% endblock %}
  {% block content %}
  <h1 class="title">註冊商店</h1>

  <form action="" method="POST" name="createSite">
    <div class="field">
      <label for="商店" class="label">商店</label>
      <div class="control">
        <input type="text" name="name" class="input" required="required" />
      </div>
    </div>

    <div class="field">
      <label for="縣市" class="label">縣市</label>
      <div class="control">
        <input type="text" name="city" class="input" required="required" />
      </div>
    </div>

    <div class="field">
      <label for="行政區" class="label">行政區</label>
      <div class="control">
        <input type="text" name="district" class="input" required="required" />
      </div>
    </div>

    <div class="field">
      <label for="地址" class="label">地址</label>
      <div class="control">
        <input type="text" name="detail" class="input" required="required" />
      </div>
    </div>
    <!--  -->
    <div class="field">
      <!-- <label for="lineId" class="label">lineid</label> -->
      <div class="control">
        <input type="hidden" name="lineId" id='lineId' class="input" required="required" readonly=""/>
      </div>
    </div>



    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary is-small">註冊商店</button>
      </div>
    </div>
  </form>
  {% endblock %}

</body>

</html>