<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>足跡列表</title>
</head>

<body>
    {% extends "layoutfor_render.html" %}
    {% block title %}我的足跡列表{% endblock %}
    {% block content %}
    <h1 class="title">{{result['result']['title']}}</h1>


    <div id="umsList">
        <table id="tableSort">
            <thead>
                <tr>
                    <!-- <th>lineId</th> -->
                    <th>順序</th>
                    <th>商店</th>
                    <th>timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for footPrints in result['footPrintModel'] %}
                <tr>
                    <!-- <td>{{footPrints['lineId']}}</td> -->
                    <td>{{loop.index}}</td>
                    <td>{{footPrints['siteName']}}</td>
                    <td>{{footPrints['timestamp']}}</td>
                </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>
    <script type="text/javascript">
    	new Tablesort(document.getElementById('tableSort'), {
		  descending: true
		});

		var recapFilters = {
			sort_select: true,
			btn: true,
			btn_text: "Search",
			loader: true,
			col_3: "select", 
			on_change: true,
			display_all_text: " Show all ",
			rows_counter: true,
			btn_reset: true,
			alternate_rows: true,
			btn_reset_text: "Clear",
		}
		setFilterGrid("tableSort",recapFilters);
    </script>
    {% endblock %}
</body>

</html>