<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>My app - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}" />
</head>

<body>
  <header>
    <nav class="navbar" aria-label="main navigation" align="center">
      <div class="navbar-brand">
        <span class="navbar-item">
          <a class="button is-link" href="./create">註冊</a>
        </span>
        <!-- <span class="navbar-item">
          <a class="button is-link" href="./update">修改</a>
        </span>
        <span class="navbar-item">
          <a class="button is-link" href="./queryUsingEmail">查詢</a>
        </span>
        <span class="navbar-item">
          <a class="button is-link" href="./list">列表</a>
        </span>
        <span class="navbar-item">
          <a class="button is-link" href="./delete">退出</a>
        </span> -->
        <span class="navbar-item">
          <a class="button is-link" href="./createsite">商店註冊</a>
        </span>
      </div>
    </nav>
  </header>

  <main>
    <section class="section">
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </section>
  </main>

  <footer class="footer">
    <!-- <div class="content">
        <small>&copy; 2020-2020, ChatBot class</small>
      </div> -->
  </footer>
</body>

</html>