<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>
	{% block headContent %}{% endblock %}
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<!--<a class="navbar-brand" href="/menu">上一頁</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
				aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>-->
			<div class="collapse navbar-collapse" id="navbarScroll">
				<!-- <ul class="navbar-nav me-auto my-2 my-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/myPersonalData">我的個資</a>
					</li>
					<li class="nav-item" id="mySite">
						<a class="nav-link" href="/mySite">我的商店</a>
					</li>
					<li class="nav-item" id="scanQRcode">
						<a class="nav-link" href="/scanQRCode">到店掃碼</a>

					</li>
					<li class="nav-item" id=myFootprint>
						<a class="nav-link" href="/myFootPrint">我的足跡</a>
					</li>
					<li class="nav-item" id="mySpread">
						<a class="nav-link" href="/mySpreadRequest">我的傳播</a>
					</li>
					<li class="nav-item" id="notification">
						<a class="nav-link" href="/epidemicNotification">疫調通報</a>
					</li>
					<li class="nav-item" id="createCompany">
						<a class="nav-link" href="/epidemicNotification">建立公司</a>
					</li>
				</ul> -->
			</div>
		</div>
	</nav>
	<script>
		var role = "{{role}}";


		if (role == "staff") {
			document.getElementById("scanQRcode").hidden = true
			document.getElementById("myFootprint").hidden = true
			document.getElementById("mySpread").hidden = true
			document.getElementById("notification").hidden = true
			document.getElementById("createCompany").hidden = true
		}
		if (role == "customer") {
			document.getElementById("mySite").hidden = true
			document.getElementById("createCompany").hidden = true
			document.getElementById("notification").hidden = true
		}
		if (role == "manager") {
			document.getElementById("mySite").hidden = true
			document.getElementById("scanQRcode").hidden = true
			document.getElementById("myFootprint").hidden = true
			document.getElementById("mySpread").hidden = true

		}




	</script>

	{% block bodyContent %}{% endblock %}
</body>

</html>