{% extends "mobileLayout.html" %}

{% block title %}我的傳播{% endblock %}

{% block bodyContent %}

<body>
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../static/css/hummingbird-treeview.css" rel="stylesheet" type="text/css">
  <center>
    <h1 style="color:dodgerblue">我的傳播</h1>
    <h2>{{providerData.name}}</h2>
    <br>
    <div class="bs-stepper-content">
      <div id="step1" class="content" role="tabpanel">
        <div style="text-align:center">
          <!-- <h3 style="color:dodgerblue">商家註冊</h3> -->
        </div>
        <center>
          <form method="POST">
            <div class="form-group">
              <h4>確診顧客:{{mySpreadResponse.transmissionChain[0].userName}}</h4>
              <h4>確診時間:{{config.confirmedTime}}</h4>
              <h4>傳播強度:{{config.spreadStrength}}</h4>
              <h4>感染店數:{{mySpreadResponse.infectedSiteCount}}</h4>
              <h4>感染人數:{{mySpreadResponse.infectedUserCount}}</h4>
              <h4>感染足跡數:{{mySpreadResponse.infectedFootprintCount}}</h4>
              <h4>總足跡數: {{mySpreadResponse.totalFootprintCount}}</h4>
              <br>
        </center>
        </form>
      </div>
    </div>

    <h3 style="color:dodgerblue">隔離名單</h3>
  </center>


  <table id="tab" class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">顧客</th>
        <th scope="col">足跡數量</th>
        <th scope="col">時間</th>
      </tr>
    </thead>
    <tbody id=tbody>
      {% for quarantineUser in mySpreadResponse.quarantineUserList %}
      <tr>
        <th scope="row"></th>
        <td>{{loop.index}}</td>
        <td>{{quarantineUser.userName}}</td>
        <td>{{quarantineUser.infectedFootprintCount}}</td>
        <td>{{quarantineUser.confirmedTime}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <center>
    <h4>隔離人數:{{mySpreadResponse.quarantineUserList|length}}</h4>
  </center>
  <br>
  <div>
    <div id="treeview_container" class="hummingbird-treeview" style="height: 50%; overflow-y: scroll;">
      <ul id="treeview" class="hummingbird-base">
        <li data-id="0">
          <i class="fa fa-plus"></i>

          <label>
            {{mySpreadResponse.transmissionChain[0]['userName']}}的傳播鏈
          </label>
          <ul>
            {% macro recursiveSite(siteList) -%}
            {% for site in siteList.infectedSite %}
            {{buildSiteNode(site, loop.index) }}
            {% endfor %}
            {%- endmacro %}

            {% macro recursiveUser(userList) -%}
            {% for user in userList.visitedUser %}
            {{buildUserNode(user, loop.index) }}
            {% endfor %}
            {%- endmacro %}

            {% macro buildSiteNode(node,index) -%}
            <li data-id="{{index}}">
              <i class="fa fa-plus"></i>
              <label>
                {{node['siteName']}}
              </label>
              <ul>
                {{recursiveUser(node)}}
              </ul>
            </li>
            {%- endmacro %}

            {% macro buildUserNode(node,index) -%}
            <li data-id="{{index}}">
              <i class="fa fa-plus"></i>
              <label>
                {{node['userName']}}
              </label>
              <ul>
                {{recursiveSite(node) }}
              </ul>

            </li>
            {%- endmacro %}

            {{recursiveSite(mySpreadResponse.transmissionChain[0])}}
          </ul>
        </li>

      </ul>
    </div>
  </div>



  <br>




  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="../static/js/hummingbird-treeview.js"></script>
  <script>
    $("#treeview").hummingbird();

    $("#collapseAll").click(function () {
      $("#treeview").hummingbird("collapseAll");
    });

  </script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script> -->
</body>
{% endblock %}