{% extends "mobileLayout.html" %}

{% block title %}我的傳播{% endblock %}

{% block bodyContent %}

<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="http://www.itxst.com/package/jquery-3.3.1/jquery.js"></script>
  <center>
    <h1 style="color:dodgerblue">我的傳播</h1>
    <h2>{{providerData['name']}}</h2>
  </center>


  <form method="POST">
    <div class="form-group">
      <center>
        <h3>{{myProfile['name']}}</h3>
      </center>

      <label for="傳播強度">請輸入傳播強度 : </label>
      <input type="number" class="form-control" id="spreadStrength" name="spreadStrength" placeholder="輸入0為無上限" min="0"
        required="required">
      <br>
      <label for="infectionTime">請輸入確診時間 : </label>
      <input type="datetime-local" class="form-control" id="confirmedTime" name="confirmedTime" required="required"
        step="1">
      <br>
      <label for="infectionTime">請輸入匡列時間範圍 : </label>
      <input type="number" class="form-control" id="contactTracingTime" name="contactTracingTime" placeholder="以分鐘為單位" min="1"
        required="required">
      <br>

      <input type="text" id="lineId" name="lineId" value="{{myProfile['lineId']}}" hidden="true">
      <!-- <div class="form-group">
          <label for="address">請輸入商家地址 : </label>
          <input type="address" class="form-control" id="address" placeholder="地址" required="required">
        </div> -->
      <br>
      <center>
        <button type="submit" class="btn btn-primary" formaction="/mySpreadResponse">查詢</button>
      </center>
  </form>
  </div>
  </div>

  <script>
  </script>




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

{% endblock %}