<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <title>掃碼</title>
</head>

<body>
    {% extends "layout.html" %}
    {% block title %}掃碼{% endblock %}
    {% block content %}
    <h1 class="title">掃碼</h1>
    <video id="preview"></video>
    <script type="text/javascript">
        let scanner = new Instascan.Scanner({
          continuous: true, // 連續掃描
          video: document.getElementById('preview'), // 預覽
          facingMode: {
            exact: "environment"
          }
        });
        scanner.addListener('scan', function (content) {
    
          console.log(content);
          getConfirmation();
    
          function getConfirmation() {
            var retVal = confirm("掃描結果：" + content); // 掃描結果顯示
            if (retVal == true) {
              var checkurl = /^((https?|http?|file):\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/; // 檢查是否為網址
              if (checkurl.test(content)) {
                window.open(content, "_self"); // 開啟網址
              }
              return true;
            } else {
              return false;
            }
          }
    
    
        });
        Instascan.Camera.getCameras().then(function (cameras) {
          if (cameras.length > 0) {
            scanner.start(cameras[0]); // [0] 前鏡頭 [1] 後鏡頭 
          } else {
            console.error('沒有找到相機');
          }
        }).catch(function (e) {
          console.error(e);
        });
    </script>
    {% endblock %}
</body>

</html>