{% extends "layoutfor_render.html" %}
{% block title %}查詢結果{% endblock %}
{% block content %}
<h1 class="title">{{title}}</h1>

<div class="field">
  <label for="姓名" class="label">姓名:{{result['name']}}</label>

</div>

<div class="field">
  <label for="手機" class="label">手機:{{result['phone']}}</label>

</div>

<div class="field">
  <label for="email" class="label">信箱: {{result['email']}}</label>

</div>
<div class="field">
  <label for="timestamp" class="label">註冊時間: {{result['timestamp']}}</label>

</div>
{% endblock %}