{% extends "layout.html" %}
{% block title %}註冊{% endblock %}
{% block content %}
<h1 class="title">{{result['result']['title']}}</h1>

<div class="field">
  <div class="control">

    <label for="姓名" class="label">{{result['result']['description']}}</label>
  </div>
</div>
{% endblock %}