<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>

<body>

  <script>
    liff.init({
        liffId: "{{liffId}}" // config parameter
    })
    .then(() => {
        // Use liff's api
        //window.location.replace("https://line.me/{{liffId}}/path");
        liff.getProfile()
        .then(profile => {
            
            const lineId = profile.userId;
            //document.getElementById("lineId").textContent = lineId;
            document.getElementById("lineId").value = lineId;
            //alert(lineId);
        })
        .catch((err) => {
            console.log('error', err);
        });
    })
    .catch((err) => {
        // Error happens during initialization
        console.log(err.code, err.message);
    });
  </script>
  {% extends "layout.html" %}
  {% block title %}註冊{% endblock %}
  {% block content %}
  <h1 class="title">註冊</h1>

  <form action="" method="POST" name="createUser">
    <div class="field">
      <label for="姓名" class="label">姓名</label>
      <div class="control">
        <input type="text" name="name" class="input" required="required" />
      </div>
    </div>

    <div class="field">
      <label for="手機" class="label">手機</label>
      <div class="control">
        <input type="text" name="phone" class="input" required="required" />
      </div>
    </div>

    <div class="field">
      <label for="email" class="label">email</label>
      <div class="control">
        <input type="text" name="email" class="input" required="required" />
      </div>
    </div>
    <!--  -->
    <div class="field">
      <!-- <label for="lineId" class="label">lineid</label> -->
      <div class="control">
        <input type="hidden" name="lineId" id='lineId' class="input" required="required" readonly=""/>
      </div>
    </div>
    


    <!--  -->
    <!-- <input type="radio" id="manager" name="role" value="manager" checked>
    <label for="manager">Manager</label><br>
    <input type="radio" id="staff" name="role" value="staff">
    <label for="staff">Staff</label><br>  
    <input type="radio" id="customer" name="role" value="customer">
    <label for="customer">Customer</label><br><br> -->

    <!-- <input type="hidden" name="lineid" class="input" required="required" /> -->

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary is-small">註冊</button>
      </div>
    </div>
  </form>
  {% endblock %}

</body>

</html>