<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商店列表</title>
</head>

<body>
    {% extends "layoutfor_render.html" %}
    {% block title %}我的商店列表{% endblock %}
    {% block content %}
    <h1 class="title">{{title}}</h1>


    <div id="umsList">
        <table id="tableSort">
            <thead>
                <tr>
                    <th>商店</th>
                    <th>地址</th>
                    <th>匯入商店時間</th>
                    <th>QRcode</th>
                </tr>
            </thead>
            <tbody>
                {% for sites in result %}
                <tr>
                    <td>{{sites['name']}}</td>
                    <td>{{sites['address']}}</td>
                    <td>{{sites['timestamp']}}</td>
                    <td> <button type="button" class="btn btn-primary" value="{{sites.qrCodeUrl}}" onclick="self.location.href= value">顯示</button></td>
                </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>
    <script type="text/javascript">
    	new Tablesort(document.getElementById('tableSort'), {
		  descending: true
		});

		var recapFilters = {
			sort_select: true,
			btn: true,
			btn_text: "Search",
			loader: true,
			col_3: "select", 
			on_change: true,
			display_all_text: " Show all ",
			rows_counter: true,
			btn_reset: true,
			alternate_rows: true,
			btn_reset_text: "Clear",
		}
		setFilterGrid("tableSort",recapFilters);
    </script>
    {% endblock %}
</body>

</html>